<section class="row">
  <article class="column">
    <ul>
      <li>
        <a href="<%= Routes.budget_path(Endpoint, :show, 1) %>">First Budget</a>
      </li>
      <li>
        <a href="<%= Routes.expenses_path(Endpoint, :index) %>">Expenses</a>
      </li>
    </ul>
  </article>
</section>
